<div>
    Olá {userModel.getMetadata().getPeople().get(0).getName()},

    <div><br/></div>
    <div>
        O TT Amigos do Natal está ai!
    </div>
    <br/>
    <div>
        Partilhamos novamente o código QR que te permitirá um check-in mais rápido no dia do evento.
        <br/>Imprime-o ou mostra este email no teu telemóvel.
    </div>
    <div><br/></div>
    <div>
        <img src="https://api.qrserver.com/v1/create-qr-code/?data={userModel.getUserEmail()}&amp;size=200x200" alt="" title="" />
    </div>

    <div><br/></div>
    <div>
        A equipa do TT Amigos do Natal
    </div>
</div>